@import '@/assets/scss/_vars.scss';
//!Generics
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body{
    background-color: $dark-color;
  }
  
  img{
    width:100%;
    height: auto;
  }
  
  .container{
    max-width: 1500px;
    margin: 0 auto;
  }
  .container-sm{
    max-width: 1300px;
    margin: 0 auto;
  }
  
  .row{
    display: flex;
    
  }
  
  .col-6{
    flex-basis: 100%/2;
  }